# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.o


# Other Directories
CMakeFiles/**
_deps/**
build/**
.ccls-cache/**
bin/**
reset/


# Other Files
compile_commands.json
.breakpoints
.replit
replit.nix
.breakpoints
*.log
*.cmake
Makefile*